body { margin: 0;}

#status{
	padding: 5px;
	line-height: 2vh;
  	border-bottom: 0.5px solid gray;
}

#status::before {
  content: "status:\00a0";
  color: #888;
}

.bar{
	width:100%;
	padding: 2px;
  	border-bottom: 0.5px solid gray;
  	display:block;
}

.bar:after {
    content: "";
    clear: both;
    display: table;
}

.bar.button{
    float: left;
}

.editor-container:input[type="text"] {
    font-size:25px;
    width:98%;
    padding:4px;
    margin-bottom:2vh;
}

.editor-container{
	padding:2vh;
	width:550px;
}


.succes{
	background-color: #efe;
}
.default{
	background-color: #eee;
}
.error{
	background-color: #faa;
}