body { margin: 0;}

#status{
	padding: 5px;
	line-height: 2vh;
  	border-bottom: 0.5px solid gray;
}

#status::before {
  content: "status:\00a0";
  color: #888;
}

.key::before{
	content: "key:\00a0";
	color: #888;
}

#article_title, #expedition_title, #location_title{
	margin-left:20px;
	font-size:2em;
}

#article_title::placeholder{
	color: #666;
}

#article_location li a:hover{
	color:#EF5350 !important;
	transition: 0.2s;
}

#editor_article_list a{
	transition: 0.4s !important;
}

#expedition_location_options{
	background-color: transparent !important;
	border: 1px solid lightgray;
}

#expedition_location_options:hover{
	background-color:#eee !important;
	transition: 0.2s;
}

#editor_expedition_list li:not(.active):hover{
	background-color:#ccc;
	transition: 0.2s;
}

#editor_expedition_list{
	cursor:pointer;
}

.bar{
	width:100%;
	padding: 2px;
  	border-bottom: 0.5px solid gray;
  	display:block;
}

.bar:after {
    content: "";
    clear: both;
    display: table;
}

.bar.button{
    float: left;
}

.editor-container:input[type="text"] {
    font-size:25px;
    width:98%;
    padding:4px;
    margin-bottom:2vh;
}

.editor-container {
	color: #000;
}

.editor-container{
	padding:2vh;
	width:550px;
}

.round-corners{
	border-radius: 6px;
}

.stored{
	border-left: 3px solid #8bc34a;
}

.small-icon-prefix{
	font-size: 0.9em;
	padding-right: 0.2em;
}

.clickable{
	cursor: pointer;
}

.modal.modal-fixed-footer-small {
	padding: 0;
	height: 20% !important;
}

.addedColor{
	background-color: #40c4ff !important;
	color: #fff !important;
	transition:0.3s;
}

.changedColor{
	background-color: #8bc34a !important;
	transition:0.5s;
}

.deletedColor{
	background-color: #EF5350 !important;
	color: #fff !important;
	transition:0.5s;
}

.location-match{
	background-image: url('/images/ic_explore_black_48dp_2x.png');
	background-repeat:no-repeat;
	background-position:right top;
	background-size:contain;
	opacity: 0.5;

}

.search-match-high{
	border-color: #bdefab !important;
}
.search-match-medium{
	background-color: #bdefab !important;
}
.search-match-lowh{
	background-color: #bdefab !important;
}

.succes{
	background-color: #efe !important;
}
.default{
	background-color: #eee !important;
}
.warn{
	background-color: #ffa000 !important;
}
.error{
	background-color: #faa !important;
}